.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 32%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}

body{margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
min-width: 1200px;}
.main-nav {background-color: #2c2c2c;
height: 70px;}
ul {list-style:none;}
.logo-wrapper {display: inline-block;}
.main-nav-container {width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
overflow: hidden;}
.logo {font-size: 22px;
float: left;
margin-top: 20px;
text-decoration: none;
color: #fff;}
.links-wrapper {display: inline-block;
vertical-align: middle;
margin-top: -30px;}
.menu-link {
list-style:none;
display: inline-block;
margin-right: 30px;
float: right;}
.menu-link a {
text-decoration: none;
font-size: 18px;
color: #fff;}

/*большой блок*/
.title-block {background-image: url(../img/promo.jpg);
background-repeat: no-repeat;
}
.title-block-container {width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
height: 645px;
padding-top: 195px;
}
.main-title {font-size: 66px;
color: #fff;
text-align: center;
margin: 0 auto;
width: 700px;
margin-bottom: 125px;}
.title-btn {padding: 12px;
border: 2px solid white;
text-decoration: none;
color: #fff;
margin: 0 auto;
margin-bottom: 55px;
text-align: center;
display: block;
width: 120px;
}
.title-arrow {
margin: 0 auto;
display: block;}

/*преимущества*/
.advatages-container{width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
height: 190px;
margin-top: -180px;}
.advantages-column{overflow: hidden;}
.advantage-item {
padding-top: 10px;
display: inline-block; 
vertical-align: middle;}
.advantage-item p{font-size: 18px;
color: #444444;
margin-left: 100px;
display: inline-block;
}
.hand{background-image: url(../img/hand.jpg);
background-repeat: no-repeat;
background-size: 56px 58px;
background-position: 5% 50%;
width: 270px;}
.glasses{background-image: url(../img/class.jpg);
background-size: 75px  28px;
background-repeat: no-repeat;
background-position: 5% 50%;
width: 290px;}
.camera{background-image: url(../img/camera.jpg);
background-repeat: no-repeat;
background-size: 65px 50px ;
background-position: 5% 50%;
width: 290px;}
.binoculars{background-image: url(../img/bnq.jpg);
background-repeat: no-repeat;
background-size:72px  34px  ;
background-position: 5% 50%;
width: 290px;}

/*видео*/
.video {height: 520px;}

.video-container{width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}
.blue-title{font-size: 36px;
	color: #444444;}
.blue-title:after{
	content:'';
	width: 60px;
height: 6px;
background-color: #3e98d7;
margin-top: 20px;
display: block;
margin-bottom: 40px;}
.video-text-container .blue-title {margin-top: 5px;}
.video-text{font-size: 18px;
	color: #444444;
width: 360px;
margin-top: -10px;}
.video-text-container {clear: right;
float: left;}
.video-pull-right{float: right;
margin-top: 20px;}

/*галерея*/
.gallery-container:before{background-color: #f2f2f2;
width: 1200px;
height: 1px;
margin: 0 auto;
content: '';
display: block;
margin-bottom: 60px;
margin-top: -20px;
}
.gallery-container{width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
height: 350px;
margin-bottom: 150px;
}
.gallery-container .blue-title{text-align: center;
margin-bottom: 70px;}
.gallery-container .blue-title:after{margin: 0 auto;
margin-top: 20px;
margin-bottom: 40px;}
.gallery_placeholder {text-align: center;}
.gallery.blue-title {margin: 0 auto;}
.gallery-arrow-right{}
.allery-arrow-left{}

/*полеты*/

.flights .blue-title {text-align: center;
margin-bottom: 100px;}
.flights .blue-title:after{margin: 0 auto;
margin-top: 20px;
margin-bottom: 40px;}

.flights-path{	
  margin-top: 50px;
  background-image: url(../img/flights.jpg);
background-repeat: no-repeat;
}

.flights-container {width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
height: 700px;
margin-top: 100px;}

.flights-path-container{height: 350px;
position: relative;
margin-top: 50px;}
.flights.blue-title{margin: 0 auto;
margin-bottom: 50px;}
.flight-text{
display: block;
font-size: 18px;
line-height: 26px;
color: #454545;
text-align: center;}
.flight-img{width: 44px;
height: 65px;}

.flights-item1{
	position: absolute;
bottom: 40px;
left: -5px;}
.flights-item2{position: absolute;
bottom: 120px;
left: 315px;}
.flights-item3{position: absolute;
bottom: 273px;
left: 550px;}
.flights-item4{position: absolute;
bottom: 141px;
right: 308px;}
.flights-item5{position: absolute;
bottom: 50px;
right: 52px;}
.path {position: relative;
height: 1000px;}
.flight-path{ position: absolute;
bottom: 66%;}

.before-flight {background-color: #f2f2f2;
margin-top: -100px;
padding-top: 15px;}
.before-flight-container {width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;}
.before-flight-text{height: 90px;
color: #26668e;
font-size: 32px;}

/*цена*/

.prise-container {width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
overflow: hidden;
margin-bottom: 100px;
margin-top: 50px;}
.prise-text-right {float: left;
font-size: 18px;
color: #444;
width: 500px;
margin-right: 50px;}
.blue-title .prise-text-right {float: left;}

.form-text-left {float: left;
font-size: 18px;
color: #444;
display: block;}
/*.prise-form{
	border: 1px solid #d5d5d5;
	padding: 5px;
	border-radius:5px;
	margin-left: 50px;
	padding: 6px 15px;
box-sizing: border-box;
}
.small-prise{display: inline-block;
font-size: 18px;
color: #444;}
.red-prise{font-size: 38px;
color: #f97e7e;
display: inline-block;}
.prise-btn{padding: 8px;
background-color: #46b0dc;
border-radius:5px;
min-width: 164px;
color: #fff;
text-align: center;
display: inline-block;
margin: 40px;}

.prise:after {height: 1px;
width: 1200px;
background-color: #e2e2e2;
content: '';
display: block;
margin: 0 auto;}*/

/*форма*/

.cost__inner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 90px;
  padding-bottom: 50px;
  border-bottom: 1px solid #cccccc;
}
.cost__inner--form {
  float: right;
  width: 50%;
  margin-top: 35px;
}

.cost__column {
  padding-right: 45px;
  display: inline-block;
  vertical-align: top;
}
.cost__column:last-child {
  padding-right: 0;
}
.cost__text {
  color: #444444;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 23px;
  margin: 0;
  font-style: italic;
}
.cost__form p {
  color: #444444;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 23px;
  margin: 0;
  padding-bottom: 17px;
  line-height: 40px;
}
.cost__form select,
.cost__form input {
  color: #444444;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 23px;
  margin: 0;
  vertical-align: baseline;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  outline: none;
  padding: 6px 15px;
  box-sizing: border-box;
}
.cost__form select:focus,
.cost__form input:focus {
  border: 2px solid #aed6ff;
}
.cost__form select {
  position: relative;
}
.cost__form select:before {
  content: "";
  background: url(../img/sprite_form.png) no-repeat -94px -5px;
  width: 12px;
  height: 10px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.cost__form--fr {
  float: right;
}
.cost__form--persons label {
  padding-right: 17px;
}
.cost__form--child {
  text-align: right;
  padding-right: 15px;
  padding-left: 63px;
}
.cost__form--cost {
  padding-top: 10px;
  font-weight: bold;
}
.cost__form--cost .cost__form--cost-number {
  color: #f97e7e;
  font-size: 38px;
  line-height: 24px;
  padding-left: 15px;
  vertical-align: text-bottom;
}
.cost__form--button {
  float: right;
  min-width: 165px;
  background-color: #46b0dc;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.cost__form--icon-name,
.cost__form--icon-phone {
  position: relative;
}
.cost__form--icon-name:before,
.cost__form--icon-phone:before {
  content: "";
  background: url(../img/sprite_form.png) no-repeat;
  width: 19px;
  height: 19px;
  display: block;
  position: absolute;
  top: 6px;
  left: 214px;
}
.cost__form--icon-name:before {
  background-position: -52px -2px;
}
.cost__form--icon-phone:before {
  background-position: 0 0;
}

.prise-container:after{background-color: #f2f2f2;
width: 1200px;
height: 1px;
margin: 0 auto;
content: '';
display: block;
margin-top: 400px;}

/*оплата*/

.money-and-questions-container {width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
margin-bottom: 100px;
}
.money {
display: inline-block;
margin-right: 70px;

}
.small-title {font-size: 26px;
color: #444;}
.money-text {font-size: 18px;
color: #444;
line-height: 24px;}
.questions {
display: inline-block;
}
.question-item {}
.very-small-title{font-size: 18px;
font-weight: bold;
color: #444;
margin-left: 20px;
display: inline-block;}
.question-text{font-size: 16px;
	line-height: 22px;
color: #444;
margin-left: 60px;}

/*цифры*/
.numbers {background-image: url(../img/numbers.jpg);
height: 375px;
background-repeat: no-repeat;
margin-bottom: 100px;}
.numbers-container{width: 1170px;
margin: 0 auto;
padding: 75px 30px 30px;
text-align: center;}

.number-item{width: 235px;
text-align: center;
display: inline-block;
vertical-align:top;}
.number-item-number{margin-bottom: 20px;
width: 160px;
height: 160px;
text-align: center;
font-size: 42px;
font-weight: bold;
line-height: 160px;
border: 6px solid #FFF;
border-radius: 50%;
display: inline-block;
box-sizing: border-box;
color: #fff;}
.number-text{font-size: 24px;
color: #fff;}

/*инструкторы*/
.trainers {width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
margin-bottom: 70px;}
.trainers-container{
margin-left: -18px;
margin-right: -18px;}
.trainers-container .blue-title {text-align: center;
margin-bottom: 50px;}
.trainers-container .blue-title:after{margin: 0 auto;
margin-top: 20px;
margin-bottom: 60px;}
.trainers .blue-title {margin: 0 auto;}
.trainers-item{
display: inline-block;
vertical-align: top;
text-align: center;
box-sizing:border-box;
width: 24%;}
.avatar{border-radius: 50%;
	max-width: 100%;
max-height: 100%;
margin-bottom: -10px;
}
.name{font-size: 22px;
line-height: 26px;
color: #444;
padding-top: 26px;}
.trainer-title{font-size: 18px;
line-height: 26px;
color: #444;
padding-bottom: 23px;}

/*отзывы*/
.rewievs {margin-bottom: 70px;}
.rewievs .blue-title {text-align: center;
margin-bottom: 50px;}
.rewievs .blue-title:after{margin: 0 auto;
margin-top: 20px;
margin-bottom: 60px;}
.rewievs-container{width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;}
.rewiev-item{width: 560px;
text-align: center;
display: inline-block;}
.rewiev-avatar{border-radius: 50%}
.rewiev-name{font-size: 22px;
color: #444;}
blockquote{font-size: 18px;
color: #444;
line-height: 24px;}

/*адреса*/

.contacts {
    padding: 140px 0 60px;
    text-align: center;
    background: url("../img/adress_background.jpg") no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}
.contacts-container {width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;}
.contacts__title {
    margin-bottom: 60px;
    position: relative;
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
    color: #444;
}
.row {margin-left: -18px;
margin-right: -18px;}
.contacts__title span {
    margin-top: 10px;
    display: block;
    font-weight: normal;
    font-size: 18px;
    font-style: italic;
    color: #616161;
}

.contacts__title:before {
    content: '';
    padding: 10px;
    width: 41px;
    height: 40px;
    position: absolute;
    display: inline-block;
    background: url("../img/plane.png");
     left: 48%;
    top: -85px;
    text-align: center;
    border-radius: 6px;
}

.contacts-item {
    text-align: left;
    display: inline-block;
}

.contacts-item__content {
       position: relative;
       font-size: 22px;
    line-height: 26px;
 color: #444;
}

.contacts-item__content:before {
    content: '';
    width: 35px;
    height: 50px;
    position: absolute;
    display: inline-block;
    background: url("../img/geo.png");
    left: -45px;
    top: 0;
}

.contacts-item span {
    margin-top: 10px;
    display: block;
}

.contacts-item__address {
    width: 55%;
    font-weight: normal;
        font-size: 20px;
    font-size: 18px;
line-height: 26px;
color: #616161;
margin-top: -20px;
}

.contacts-item__number {
    font-size: 26px;
}

.contacts-item-social a {
    margin: 0 0 25px 45px;
    position: relative;
    display: inline-block;
    color: #444;
    font-size: 22px;
    text-decoration: none;
    line-height: 26px;
    border-bottom: 2px solid #444;
}

.contacts-item-social a:before {
    content: '';
    width: 23px;
    height: 17px;
    position: absolute;
    display: inline-block;
    background: url("../img/mail.png");
    background-repeat: no-repeat;
    top: 4px;
    left: -45px;
}

.social {
    font-size: 0;
   
}
.contacts-item-social {text-align: left;
    display: inline-block;
    height: 168px;
    vertical-align: top;
    padding-top: 25px;}
.social__item {
    margin-right: 20px;
    display: inline-block;
}

.social__item--vk {
    width: 23px;
    height: 24px;
    background: url("../img/vk.png");
     background-repeat: no-repeat;
}

.social__item--facebook {
    width: 23px;
    height: 24px;
    background: url("../img/fb.png");
     background-repeat: no-repeat;
}

.social__item--instagram {
    width: 23px;
    height: 24px;
    background: url("../img/inst.png");
     background-repeat: no-repeat;
}

/*.adress{background-image: url(../img/adress_background.jpg);
background-repeat: no-repeat;
height: 450px;
padding-top: 55px;
}
.adress-container{width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}
.airport-adress{
font-size: 0px;
text-align: center;}
.adress-text{font-size: 26px;
color: #444;
}
.airport-adress-adress{font-size: 18px;
line-height: 26px;
color: #616161;
margin-top: -20px;}

.office-adress{
display: inline-block;}
.office-adress-container{display: inline-block;}
.geo-adress{width: 35px;
height: 50px;
margin-left: 20px;
margin-top: 20px;
display: inline-block;}
.phone{font-size: 26px;
font-weight: bold;
color: #444;
margin-top: -10px;}

.contact-information{display: inline-block;}
.mail{display: block;
margin-top: 5px;
margin-bottom: 20px;}
.mail p {display: inline-block;
text-decoration: underline;
font-size: 26px;
line-height: 22px;
color: #444;}
.mail-img {display: inline-block;
margin-right: 20px;}
.vk{display: inline-block;
	margin-right: 22px;}
.fb{display: inline-block;
margin-right: 22px;}
.inst{display: inline-block;
margin-right: 22px;}*/